.all-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center;
  margin-top: 20px;   
  width: 80vw;
  margin-left: 10vw;
}

.all-header-wrapper {
  font-size: 45px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  height: 350px;
  background-color: rgb(240, 240, 240);
  width: 100% ;   
}

.all-body-wrapper{
  font-size: 30px;
  color: rgb(255, 255, 255);
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px; 
  width: 100%;
}

.each-all-header-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  position: relative;
  border-radius: 10px;
}

.each-all-header-box:last-child{
  margin-right: 0px;
}


.each-all-header-box-title{
  font-size: 24px;
  color: rgb(85, 85, 85);
  margin-top: 0px;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size:  30px;
  font-weight: 600;
}

.each-all-header-box-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px ;
}

.each-all-header-box-body-main-value{
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  letter-spacing: 2.5px;
  font-size: 60px;
  color: rgb(85, 85, 85);
}


.each-all-header-box-body-percentage-arrow{
  font-size: 15px;
  font-weight: 100;
  height: 22px;
  padding-right: 5px;
  fill: rgba(0, 128, 0, 0.758);
}

.each-all-header-box-body-percentage-wrapper{
 
  color: rgba(0, 128, 0, 0.758);
  font-size: 30px;
  margin-bottom: 2px;
}


.each-all-header-box-body-footer-wrapper{
  color: rgb(84, 84, 84);
  font-size: 15px;
  margin-top: 5px;
}


.each-all-body-box{
  width: 49% ;
  height: 100%;
  background-color: rgb(255, 255, 255);
  margin-right: 20px;
}

.each-all-body-box:last-child{
  margin-right: 0px;
}

.title4{
 position: absolute;
  margin-bottom: 20px;
  color: rgb(85, 85, 85);
}

.percent{
  font-size: 45px;
  color: rgb(85, 85, 85);
  position: relative;
  bottom: 30px;
  right: 15px;
}

.dollar{
  font-size: 45px;
  color: rgb(85, 85, 85);
  position: relative;
  bottom: 30px;
  left: 15px;
  display: inline-block;
}

#my-pie-chart {
  height: 150px;
  width: 150px;
}

#my-pie-chart {
  border-radius: 100%;
}
.pie{
  margin-top: 50px;
  position: relative;
}

#my-pie-chart {
  background: conic-gradient(rgb(112, 155, 207) 0% 10%, rgb(118, 179, 100) 10% 88%, rgb(255, 194, 85) 89% 92%, rgb(112, 155, 207) 92% 97%);
}

#my-pie-chart-2 {
  background-color: rgb(255, 255, 255);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  top: -33%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%); 
}

.each-all-header-box-body-pie-label-wrapper{
 font-size: 15px;
  position: absolute;
  color: rgb(85, 85, 85);
}

.each-all-header-box-body-pie-label-referral{
  position: relative;
  top: 35px;
  right: 40px;
}

.each-all-header-box-body-pie-label-direct{
  position: relative;
  top: 20px;
  left: 100px;
}

.each-all-header-box-body-pie-label-organic{
  position: relative;
  top: 180px;
  left: 50px;

}

.each-all-body-box1-body {
  font-size: 15px;
}

.each-all-body-box2-body{
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  overflow:  hidden;
}

.each-all-body-box-title{
  font-size: 30px;
  font-weight: 400;
  color: rgb(85, 85, 85);
  margin-top: 10px;
  position: relative;
  left: 20px;
  font-weight: 600;
  margin-bottom: 5px;

}

.each-all-body-box1-body-chart-wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.each-all-body-box1-body-chart-y  {    
  color: rgb(85, 85, 85);
  font-size: 20px;
  margin-top: 5px;
  border-right: 2px solid rgb(204, 204, 204);
}
.each-all-body-box1-body-chart-y-value {    
  padding: 20px 5px 10px 25px;
  position: relative;
}
.each-all-body-box1-body-chart-x {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  border-bottom: 2px solid rgb(204, 204, 204);
}

.each-all-body-box1-body-chart-x-label-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 80%;
  color: rgb(85, 85, 85);
  margin-left: 80px;
  margin-top: 15px;
  font-size: 20px ;
}

.each-all-body-box1-body-chart-x-label{
    padding: 0px ;
    margin: 0px ;
}


.each-all-body-box1-body-bubble-wrapper {
  position: relative;
  width: 22%;
}

.each-all-body-box1-body-bubble-wrapper:nth-child(1) {
  bottom: 46%;
  left: 3%;
}

.each-all-body-box1-body-bubble-wrapper:nth-child(2) {
  bottom: 28%;
  left: 4%;
}

.each-all-body-box1-body-bubble-wrapper:nth-child(3) {
  bottom: 15%;
  left: 4%;
}

.each-all-body-box1-body-bubble-wrapper:nth-child(4) {
  bottom: 70%;
  left: 0%;
}

.each-all-body-box1-body-bubble-wrapper:nth-child(5) {
  bottom: 45%;
  left: 0%;
}

.each-all-body-box1-body-bubble-wrapper:nth-child(6) {
  bottom: 42%;
  left: -5%;
}
.each-all-body-box1-body-bubble-wrapper:nth-child(7) {
  bottom: 20%;
  left: -9%;
}
.each-all-body-box1-body-bubble-wrapper:nth-child(8) {
 bottom: 75%;
  left: -7%;
  z-index: 10;
}
.each-all-body-box1-body-bubble-wrapper:nth-child(9) {
  bottom: 48%;
  left: -7%;
}
.each-all-body-box1-body-bubble-wrapper:nth-child(10) {
  bottom: 70%; 
  left: -16%;
}

.each-all-body-box1-body-bubble-wrapper:nth-child(11) {
  bottom: 28%;
  left: -19%;
}

.each-all-body-box1-body-bubble-wrapper:nth-child(12) {
  bottom: 35%;
  left: -24%;
}

.each-all-body-box1-body-bubble-wrapper:nth-child(13) {
  bottom: 68%;
  left: -25%;
}

.each-all-body-box1-body-bubble-wrapper:nth-child(14) {
  bottom: 20%;
  left: -34%;
}

.each-all-body-box1-body-bubble-wrapper:nth-child(1) .each-all-body-box1-body-bubble{
  width: 35px; 
  height: 35px; 
  border-radius: 50%;
  background-color: var(--firstBubble-color);
}

.each-all-body-box1-body-bubble-wrapper:nth-child(2) .each-all-body-box1-body-bubble{
  width: 47.5px; 
  height: 47.5px; 
  border-radius: 50%;

  background-color: var(--secondBubble-color);
}

.each-all-body-box1-body-bubble-wrapper:nth-child(3) .each-all-body-box1-body-bubble{
  width: 35px; 
  height: 35px; 
  border-radius: 50%;
  background-color: var(--thirdBubble-color);
}

.each-all-body-box1-body-bubble-wrapper:nth-child(4) .each-all-body-box1-body-bubble{
  width: 47.5px; 
  height: 47.5px; 
  border-radius: 50%;
  background-color: var(--fourthBubble-color);
}

.each-all-body-box1-body-bubble-wrapper:nth-child(5) .each-all-body-box1-body-bubble{
  width: 80px; 
  height: 80px; 
  border-radius: 50%;
  background-color: var(--fifthBubble-color);
}

.each-all-body-box1-body-bubble-wrapper:nth-child(6) .each-all-body-box1-body-bubble{
  width: 47.5px; 
  height: 47.5px; 
  border-radius: 50%;
  background-color: var(--sixthBubble-color);
}

.each-all-body-box1-body-bubble-wrapper:nth-child(7) .each-all-body-box1-body-bubble{
  width: 35px; 
  height: 35px; 
  border-radius: 50%;
  background-color: var(--seventhBubble-color);
}

.each-all-body-box1-body-bubble-wrapper:nth-child(8) .each-all-body-box1-body-bubble{
  width: 55px; 
  height: 55px; 
  border-radius: 50%;
  background-color: var(--eighthBubble-color);
}

.each-all-body-box1-body-bubble-wrapper:nth-child(9) .each-all-body-box1-body-bubble{
  width: 47.5px; 
  height: 47.5px; 
  border-radius: 50%;
  background-color: var(--ninthBubble-color);
}

.each-all-body-box1-body-bubble-wrapper:nth-child(10) .each-all-body-box1-body-bubble{
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
  background-color: var(--tenthBubble-color);
}

.each-all-body-box1-body-bubble-wrapper:nth-child(11) .each-all-body-box1-body-bubble{
  width: 80px; 
  height: 80px; 
  border-radius: 50%;
  background-color: var(--eleventhBubble-color);
}

.each-all-body-box1-body-bubble-wrapper:nth-child(12) .each-all-body-box1-body-bubble{
  width: 80px; 
  height: 80px; 
  border-radius: 50%;
  background-color: var(--twelvthBubble-color);
}

.each-all-body-box1-body-bubble-wrapper:nth-child(13) .each-all-body-box1-body-bubble{
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background-color: var(--fourtenthBubble-color);
 }

 .each-all-body-box1-body-bubble-wrapper:nth-child(14) .each-all-body-box1-body-bubble{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: var(--thirtenthBubble-color);
 }

.each-all-body-box1-footer-wrapper{
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 100%;
  padding: 0px;
  padding-top: 10px;
  font-size: 15px;
  margin-bottom: 60px;
}

.each-all-body-box1-footer{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin-bottom: 10px;

}

.each-all-body-box1-footer-states{
  width: 15px;
  height: 15px;
  border-radius: 100%;
  position: relative;
  top: 50%;
  padding-left: 0px; 
}

.each-all-body-box1-footer-states.states1{
left: -22% ;
background-color: var(--tenthBubble-color) ;
}
.each-all-body-box1-footer-states.states2{
left: -32% ;
background-color: var(--sixthBubble-color) ;
}
.each-all-body-box1-footer-states.states3{
left: -40% ;
background-color: var(--thirdBubble-color) ;
}
.each-all-body-box1-footer-states.states4{
left: -20% ;
background-color: var(--firstBubble-color) ;
}

.each-all-body-box2-body-bar-wrapper {
  display: flex;
  width: 100%;
}

.each-all-body-box2-body-bar-y-wrapper {
  z-index: 1000;
}

.each-all-body-box2-body-bar-y {    
  padding: 1px 0px 0px 5px;
  position: relative;
  color: rgb(85, 85, 85);
  font-size: 18px;
  margin-top: 40px;
 
}
/* draw a horizontal line */
.each-all-body-box2-body-bar-y::after {    
  content: "";
  display: block;
  width: 1200%;
  height: 1px;
  background-color: rgb(204, 204, 204);
  position: absolute;
  bottom: 50%;
  left: 95%;
}

.each-all-body-box2-body-bar-x-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex: 3;
  padding: 10px;
}

.each-all-body-box2-body-bar-x-wrapper-label {
   display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
  color: rgb(85, 85, 85);
  border: 1px solid red;
}

.each-all-body-box2-body-bar-x {
  position: relative;
  width: 22%;
  z-index: 1000;
}

.each-all-body-box2-body-bar-x:nth-child(1) {
  
  bottom: 15%;
  left: 5%;
}

.each-all-body-box2-body-bar-x:nth-child(2) {
  bottom: 5%;
  left: 1%;
}

.each-all-body-box2-body-bar-x:nth-child(3) {
  bottom: 12%;
  left: -1%;
}

.each-all-body-box2-body-bar-x:nth-child(4) {
  bottom: 12%;
  left: -3%;

}

.each-all-body-box2-body-bar-x:nth-child(5) {
  bottom: 7%;
  left: -6%;
}

.each-all-body-box2-body-bar-x:nth-child(6) {
  bottom: 10%;
  left: -8%;
}

.each-all-body-box2-body-bar-x:nth-child(1) .each-all-body-box2-body-bar {
  background: linear-gradient(to bottom, var(--bar-top) 49%, var(--bar-middle1) 49% 94%, var(--bar-bottom) 94%);
  width: 42px;
  height: 305px; 
}

.each-all-body-box2-body-bar-x:nth-child(2) .each-all-body-box2-body-bar {
  background: linear-gradient(to bottom, var(--bar-top) 55%, var(--bar-middle1) 55% 87%,var(--bar-middle2) 87% 92%, var(--bar-bottom) 92%);
  width: 42px;
  height: 435px; 

}

.each-all-body-box2-body-bar-x:nth-child(3) .each-all-body-box2-body-bar {
  background: linear-gradient(to bottom, var(--bar-top) 55%, var(--bar-middle1) 55% 80%,var(--bar-middle2) 80% 90%, var(--bar-bottom) 90%);
  width: 42px;
  height: 305px;

}

.each-all-body-box2-body-bar-x:nth-child(4) .each-all-body-box2-body-bar{
  background: linear-gradient(to bottom, var(--bar-top) 30%, var(--bar-middle1) 30% 88%,var(--bar-middle2) 88% 92%, var(--bar-bottom) 92%);
  width: 42px; 
  height: 320px; 

}

.each-all-body-box2-body-bar-x:nth-child(5) .each-all-body-box2-body-bar {
  background: linear-gradient(to bottom, var(--bar-top) 45%, var(--bar-middle1) 45% 80%, var(--bar-bottom) 80%);
  width: 42px;
  height: 240px; 


}

.each-all-body-box2-body-bar-x:nth-child(6) .each-all-body-box2-body-bar {
  background: linear-gradient(to bottom, var(--bar-top) 50%, var(--bar-middle1) 50% 85%, var(--bar-bottom) 85%);
  width: 42px;
  height: 150px; 

}

.each-all-body-box2-body-bar-x-label-wrapper{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 70px ;
  color: rgb(85, 85, 85);
  margin-top: 20px ;
}

.each-all-body-box2-body-bar-x-label{
  display: flex;
  flex-direction: row;
  margin: 0px 17px 0px 0px ;
  padding: 0px ;
  font-size: 20px;
}
